\:host
  display: flex
  height: 100%
  width: 100%
  box-sizing: border-box
  flex-direction: column

  font-family: 'Lekton', monospace
  font-weight: 500

  p
    margin: 8px 0
    text-align: justify

  p ~ p
    margin-top: 0

  ol
    margin: 8px 0

  li
    margin: 8px 0

  .title
    line-height: 32px

    font-size: 20px
    font-weight: 600

  p.copy
    font-weight: 600

    span:first-child
      color: #2196f3

    span:nth-child(2)
      color: #ff5722

  .license-text
    overflow-y: auto

  .back-button
    align-self: end
