#
# web-desk
#
# File & directories to be ignored. (See: http://help.github.com/ignore-files/)
#


# --- Compiled output
/dist
/tmp
/out-tsc
/bazel-out
/pkg

# --- Dependencies
/node_modules

# --- Profiling data
chrome-profiler-events*.json
speed-measure-plugin*.json

# --- IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.swp
*~

# --- IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# --- Misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# --- System Files
.DS_Store
Thumbs.db

# --- Patch & diff files
*.patch
*.diff
*.orig
*.rej

# --- Specifically, don't ignore these files
!.gitignore
