<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Go home"
    [routerLink]="['/home']">
    <mat-icon svgIcon="anchor"></mat-icon>
  </button>
  <span>WEB DESK</span>

  <span class="h-spacer"></span>

  <button mat-icon-button aria-label="Add"
    [routerLink]="['/desk-app']">
    <mat-icon svgIcon="add"></mat-icon>
  </button>

  <button mat-icon-button aria-label="Groups"
    [routerLink]="['/groups']">
    <mat-icon svgIcon="category"></mat-icon>
  </button>

  <button mat-icon-button aria-label="Settings"
    [routerLink]="['/settings']">
    <mat-icon svgIcon="settings"></mat-icon>
  </button>

  <button mat-icon-button aria-label="About"
    [routerLink]="['/about']">
    <mat-icon svgIcon="info"></mat-icon>
  </button>
</mat-toolbar>
