<form [formGroup]="appForm" (submit)="onSubmit()">
  <mat-card>
    <mat-card-title>{{data.aid}}</mat-card-title>

    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Label</mat-label>
        <input matInput type="text" formControlName="label"
          placeholder="Desk Application Name">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>URL</mat-label>
        <input matInput type="url" formControlName="url"
          placeholder="URL e.g. https://sample.com/">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Group</mat-label>
        <mat-select formControlName="group" [compareWith]="compareGroups">
          <mat-option *ngFor="let g of groups$ | async" [value]="g.gid">
            {{g.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button type="button" mat-raised-button aria-label="Cancel"
        (click)="onCancel()"
        >CANCEL</button>

      <button mat-raised-button type="submit" color="primary" aria-label="Save"
        [disabled]="appForm.pristine || !appForm.valid"
        >SAVE</button>
    </mat-card-actions>
  </mat-card>
<form>
