<ng-container *ngIf="app">
  <div class="banner">
    <button mat-icon-button aria-label="Details"
      (click)="onDetails()">
      <mat-icon>bookmark</mat-icon>
    </button>

    <span class="h-spacer"></span>

    <button mat-icon-button aria-label="Toggle visibility"
      [disabled]="!isRunning"
      (click)="onVisibility()">
      <mat-icon>{{isMinimized ? 'visibility' : 'visibility_off'}}</mat-icon>
    </button>

    <button *ngIf="!isRunning" mat-icon-button aria-label="Start application"
      (click)="onStart()">
      <mat-icon>play_circle</mat-icon>
    </button>

    <button *ngIf="isRunning" mat-icon-button aria-label="Stop application"
      (click)="onStop()">
      <mat-icon>stop_circle</mat-icon>
    </button>

  </div>

  <div class="content mat-h2" aria-label="Application Name">
    {{app.label}}
  </div>
</ng-container>
