<ng-container *ngIf="app">
  <div class="banner">
    <sp-icon icon="view"
      label="Details"
      (click)="onDetails()"></sp-icon>

    <span class="h-spacer"></span>

    <sp-icon icon="{{isMinimized ? 'max' : 'min'}}"
      label="Toggle visibility"
      [disabled]="!isRunning"
      (click)="onVisibility()"></sp-icon>

    <ng-container *ngIf="isRunning; then stopApp; else startApp"></ng-container>

    <ng-template #stopApp>
      <sp-icon icon="stop"
        label="Stop application"
        (click)="onStop()"></sp-icon>
    </ng-template>

    <ng-template #startApp>
      <sp-icon icon="start"
        label="Start application"
        (click)="onStart()"></sp-icon>
    </ng-template>
  </div>

  <div class="content mat-h2" aria-label="Application Name">
    {{app.label}}
  </div>
</ng-container>
