<mat-card *ngIf="app">
  <mat-card-content>
    <p class="form-label">Label</p>
    <p class="form-value">{{app.label}}</p>

    <p class="form-label">URL</p>
    <p class="form-value">{{app.url}}</p>

    <p class="form-label dim-text">Application ID</p>
    <p class="form-value fixed-text dim-text">{{app.aid}}</p>
  </mat-card-content>

  <mat-card-actions>
    <sp-icon icon="{{isMinimized ? 'max' : 'min'}}"
      label="Toggle visibility"
      [disabled]="!isRunning"
      (click)="onVisibility()"></sp-icon>

    <ng-container *ngIf="isRunning; then stopApp; else startApp"></ng-container>

    <ng-template #stopApp>
      <sp-icon icon="stop"
        label="Stop application"
        (click)="onStop()"></sp-icon>
    </ng-template>

    <ng-template #startApp>
      <sp-icon icon="start"
        label="Start application"
        (click)="onStart()"></sp-icon>
    </ng-template>
  </mat-card-actions>
</mat-card>
