<mat-card *ngIf="app">
  <mat-card-content>
    <p class="mat-title">Label</p>
    <p class="mat-subheading-2">{{app.label}}</p>

    <p class="mat-title">URL</p>
    <p class="mat-subheading-2">{{app.url}}</p>

    <p class="mat-title dim-text">Application ID</p>
    <p class="mat-subheading-2 dim-text">{{app.aid}}</p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-icon-button aria-label="Toggle visibility"
      [disabled]="!isRunning"
      (click)="onVisibility()">
      <mat-icon>{{isMinimized ? 'visibility' : 'visibility_off'}}</mat-icon>
    </button>

    <button *ngIf="!isRunning" mat-icon-button aria-label="Start application"
      (click)="onStart()">
      <mat-icon>play_circle</mat-icon>
    </button>

    <button *ngIf="isRunning" mat-icon-button aria-label="Stop application"
      (click)="onStop()">
      <mat-icon>stop_circle</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
