<sp-toggle
  icons="app_view;app_edit"
  labels="Read Only;Editable"
  [flag]="canEdit$ | async"
  (mutate)="onToggleEdit($event)"></sp-toggle>

<sp-toggle
  icons="view_seq;view_group"
  labels="View sequential;View by group"
  [flag]="viewByGroup$ | async"
  (mutate)="onViewByGroup($event)"></sp-toggle>

<sp-toggle
  icons="view_all;view_select"
  labels="View all;Selected groups"
  [flag]="viewByFilter$ | async"
  (mutate)="onViewByFilter($event)"></sp-toggle>

<sp-toggle
  icons="view_normal;view_compact"
  labels="View normal;View compact"
  [flag]="viewCompact$ | async"
  (mutate)="onViewCompact($event)"></sp-toggle>
