@import '~@angular/material/prebuilt-themes/indigo-pink.css'

body
  margin: 0
  padding: 0

.h-spacer
  flex-grow: 1

.content-head
  display: flex
  flex-direction: column

  margin: 8px 0
  padding: 0 64px

.content-area
  display: flex
  flex-direction: column
  flex: 1 1 auto

  padding: 8px 64px

  overflow-y: auto

.form-label
  font-size: 20px
  font-weight: 600
  color: #808080
  border-bottom: 1px solid #e0e0e0

.form-value
  font-size: 18px
  font-weight: 500


@media only screen and (max-width: 480px)
  .content-head
    padding: 0 16px

  .content-area
    padding: 0 16px

@media only screen and (max-height: 640px)
  .content-head
    padding: 0 16px

  .content-area
    padding: 0 16px
